*{
    box-sizing: border-box;
}
:root{
    --secondary-color: #f57600;
    --secondary-color: #f57600;
}
.secondary-standout{
    color: var(--secondary-color);
}
.centered-row{
    justify-content: center;
}
.hero-sec{
    background-image: url(/assets/images/background.jpg);
}
header:has(.navbar-collapse.show){
    background-color: #262d4e;
    padding-bottom: 0px;
}
.header_wrap{
    background-color: #00000026;
}

section{
    margin-block: calc(3rem + 0.5vw);
}

.gaped-row{
    gap: 4rem;
}

.title_default_light.title_border h4::before {
	background-color: #f57600;
}
.btn-center{
    display: block;
    margin-inline: auto;
}

.footer-logo{
    font-size: 1.5rem;
}

.owl-dots{
    display: flex;
    justify-content: center;
    gap: 1.5rem;
    align-items: center;
}
.owl-dot{
    background-color: orange;
    height: 5px;
    width: 20px;
}
.owl-dot.active{
    background-color: red;
}

.owl-theme .owl-dots .owl-dot.active span{border: none;}
.btn-fit{width: fit-content;}
div.center{
    margin-inline: auto;
}

table.center{
    margin-inline: auto;
    width: 100%;
}
.center{
    text-align: center;
}

#transaction table{
    overflow-y: auto;
    max-height: 200px;
    height: 200px;
}


.transaction-table {
    width: 90%;
    border-collapse: collapse;
    text-align: left;
    border-top: 2px solid white;
    border-bottom: 2px solid white;
    margin-inline: auto;
    margin-block: 1rem 3rem;
}
  
.transaction-table thead,.transaction-table tbody {
    display: block;
    width: 100%;
}
  
.transaction-table tbody {
    height: 200px;
    overflow-y: auto;
    scrollbar-width: none;
    color: white;
}
.white-text{
    color: white;
}
  
.transaction-table tr {
    padding: 3rem;
    font-size: 1rem;
    display: table;
    width: 100%;
    table-layout: fixed;
}
.transaction-table thead tr{
    border-bottom: 1px solid white;
    background-color: #181839;
}
.transaction-table tbody tr{
    border-top: 1px solid #606060;
}
.transaction-table td,.transaction-table th{
    padding-block: 15px;
}
.transaction-table td:nth-child(1), 
.transaction-table th:nth-child(1)
{padding-left: 15px;}

.transaction-table td:nth-child(2),
.transaction-table th:nth-child(2)
{padding-right: 15px; text-align: right;}

.positive-table td:nth-child(2){
    color: green;
}

.negative-table td:nth-child(2){
    color: red;
}


.each-testimony{
    min-width: min(450px, 90%);
    min-height: 200px;
    display: grid;
    place-items: center;
    padding: 10px;
    border: 2px solid red;
}
.each-testimony blockquote{
    margin-bottom: 0;
}
.testi-user-cont{
    width: 100%;
    display: flex;
    justify-content: space-between;
    text-align: left;
    margin-top: calc(25px + 0.9vw);
}
.each-testimony .testi-user-cont .testi-user-img{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 1px solid red;
    padding: 5px;
}


#testimonies .owl-nav{
    background-color: red;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.each-plan ul{
    list-style-position: inside;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}
.each-plan li{
    position: relative;
    width: fit-content;
}

.each-plan li::before {
    content: "\2714"; /* check mark */
    width: 20px;
    height: 20px;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    position: absolute;
    left: -30px;
    top: 50%;
    transform: translateY(-50%);
    background-color: red;
    color: white;
    border-radius: 5px;
}
.plan-item{
    padding: 2.5rem 0px
}
.plan-item-title{
    font-size: 2rem;
    color: white;
}
.plan-item-sec-title{
    background-color: #00000026;
    width: 100%;
    padding-block: 20px;
    margin-block: 15px;
}


.centralized-bg-img-token{
    height: 250px;
    background-color: red;
}


@media (max-width: 680px){
    .footer-list-con h4{
        text-align: center;
        padding: 0;
        color: #f57600;
    }
    .footer-list-con h4::before{
        display: none;
    }
    .footer-list-con a{
        width: fit-content;
        display: block;
        margin-inline: auto;
        text-align: center;
    }
}